@{
    ViewData["Title"] = "Data Users";
}

<style>
    .bgOn {
        background-color: rgba(130, 205, 55, 0.39) !important;
    }

    .bgOnCol {
        background-color: white !important;
    }

    .bgOff {
        background-color: rgba(255, 0, 0, 0.2) !important;
    }
</style>


<div class="form-group" style="float:right">
    <input type="checkbox" id="checkDeleted">
    <label for="checkDeleted" class="control-label">Show Deleted Category</label>
</div>

<table id="browseGridData" class="table table-bordered table-hover dt-responsive nowrap" cellspacing="0" style="overflow-x:scroll">
    <thead>
        <tr>
            <th><a class="btn btn-success btn-sm btn-flat" href="@(Url.Action("Editor", "DataUser"))?mode=Create"><i class="fa fa-plus"></i> Create</a></th>
            <th>Username</th>
            <th>Name</th>
            <th>Is Admin</th>
            <th>Career</th>
            <th>Last Login</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>Edited By</th>
            <th>Edited Date</th>
            <th>Deleted By</th>
            <th>Deleted Date</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Press enter<br />after typing<br />to filter</th>
            <th>Username</th>
            <th>Name</th>
            <th>Is Admin</th>
            <th>Career</th>
            <th>Last Login</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>Edited By</th>
            <th>Edited Date</th>
            <th>Deleted By</th>
            <th>Deleted Date</th>
        </tr>
    </tfoot>
</table>

<script>
    $(document).ready(function () {
       $('#browseGridData tfoot th').each(function (i) {
            if (i != 0) {
                var title = $(this).text();
                $(this).html('<tr><th><input type="text" name="filter[' + i + ']" placeholder="Search ' + title + '" /><th>');
            }
       });

        var table = $("#browseGridData").DataTable({
            "bFilter" : false,
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": true,
            "scrollX": true,
            "stateDuration": -1,
            "stateSave": true,
            "paging": true,
            "pagingType": "full_numbers",
            "ajax": {
                "url": '@Url.Action("LoadData", "DataUser")',
                "type": "POST",
                "datatype": "json",
                "data": function (params) {
                    params.showDeleted = $("#checkDeleted").prop('checked');
                    $(params.columns).each(function (i) {
                        var name = "filter[" + i + "]";
                        var value = "";
                        if ($('input[name="' + name + '"]').last().length) {
                            value = $('input[name="' + name + '"]').last().val();
                        }
                        params[name] = value;
                    });
                    return params;
                }
            },
            "order": [[1, "asc"], [2, "asc"]],
            "columnDefs":[
                 {
                     "targets": [0],
                     "orderable": false
                 },
            ],

            "columns": [
                {
                    "render": function (data, type, full, meta) {
                        var buttons = '';
                        buttons += '<a class="btn btn-default btn-xs btn-flat" title="View" name="btn_view" href="@Url.Action("Editor", "DataUser")?mode=View&uniq=' + full.Uniq + '"><i class="fa fa-search"></i></a>&nbsp;';
                        if (!full.Is_Deleted) {
                            buttons += '<a class="btn btn-success btn-xs btn-flat" title="Edit" name="btn_edit" href="@Url.Action("Editor", "DataUser")?mode=Edit&uniq=' + full.Uniq + '"><i class="fa fa-pencil"></i></a>&nbsp;';
                            buttons += '<a class="btn btn-danger btn-xs btn-flat" title="Delete" name="btn_delete" href="@Url.Action("Editor", "DataUser")?mode=Delete&uniq=' + full.Uniq + '"><i class="fa fa-trash"></i></a>&nbsp;';
                        }
                        return buttons;
                    },
                    "width": "10%",
                },
                { "data": "Username", "name": "Username", "autoWidth": true },
                { "data": "Longname", "name": "Longname", "autoWidth": true },
                { "data": "Is_Admin", "name": "Is_Admin", "autoWidth": true },
                { "data": "Career", "name": "Career", "autoWidth": true },
                { "data": "Last_Login", "name": "Last_Login", "autoWidth": true },
                { "data": "Create_By", "name": "Create_By", "autoWidth": true },
                { "data": "Create_Date", "name": "Create_Date", "autoWidth": true },
                { "data": "Edit_By", "name": "Edit_By", "autoWidth": true },
                { "data": "Edit_Date", "name": "Edit_Date", "autoWidth": true },
                { "data": "Delete_By", "name": "Delete_By", "autoWidth": true },
                { "data": "Delete_Date", "name": "Delete_Date", "autoWidth": true },
            ],
            "createdRow": function (row, data, index) {
                if (data.Is_Deleted) {
                    $(row).addClass('bgOff');
                    $($(row).find('td')[0]).removeClass('bgOn').addClass('bgOnCol');
                }
            },
            "fixedColumns": {
                leftColumns : 1
            },
            "stateSaveParams": function (settings, data) {
                var temp = {};
                var inputs = $("input", table.columns().footer());
                $(inputs).each(function (n, el) {
                    temp[$(this).attr('name')] = this.value;
                });
                data.colsFilter = temp;
            },
            "stateLoadParams": function (e, settings, data) {
                var a = $(this);
                if (settings != undefined && settings.colsFilter != undefined) {
                    var value = "";
                    $.each(settings.colsFilter, function (key, val) {
                        $("input[name='" + key + "']", a.DataTable().columns().footer()).val(val);
                    });
                }
            }

        });
        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('keyup change', function (e) {
                if (e.keyCode == 13) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

        $("#checkDeleted").change(function () {
            table.ajax.reload();
        })
        $(".dataTables_length").attr("style", "display:none");
    });
</script>
<div class="clearfix"></div>